.list-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  .category {
    margin: 0.5vh 0;
  }
  .product {

    &--inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;

      &--item {
        background-color: #fff;
        display: flex;
        width: 25vh;
        margin: 0.5vh;
      }
    }
  }
}