.list-content {

  .category {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 5vh;
  }

  .product {

    display: flex;
    flex-wrap: wrap;
    justify-content: start;

    &--item {
      background-color: #fff;
      display: flex;
      width: 25vh;
      margin: 0.5vh;
    }
  }
}