<main class="list-content">

  <app-category class="category" type="tile" (onSelectCategory)="onSelectCategory($event)"></app-category>

  <section class="product">

    <ng-template [ngIf]="isLoading" [ngIfElse]="product">
      <app-product-skeleton [count]="skeletonCount"></app-product-skeleton>
    </ng-template>

    <ng-template #product>
      <app-product-item [item]="product" *ngFor="let product of products" class="product--item"
        (click)="viewProduct(product)">
      </app-product-item>
    </ng-template>

  </section>

</main>