.skeleton {
  display: flex;
  width: 100%;
  cursor: pointer;
  justify-content: flex-start;
  flex-wrap: wrap;

  &--item {
    width: 25vh;
    margin: 0.5vh;
    padding: 1vh;
    background: white;
  }
}
