<nz-layout class="app">
  <nz-header class="app__header">
    <ul nz-menu nzMode="horizontal" nzTheme="dark" class="app__header__menu">
      <li nz-menu-item nzSelected>
        Home
      </li>
      <li nz-menu-item>
        Home
      </li>
      <li nz-menu-item>
        Home
      </li>
    </ul>
  </nz-header>
  <nz-content class="app__content">
    <nz-layout class="app__content__search">
      <img src="assets/images/logo.png" alt="Logo" class="app__content__search--logo">
      <app-searchbar class="app__content__search__input"></app-searchbar>
    </nz-layout>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>