<nz-layout class="app">
  <nz-header class="app__header">

    <ng-template [ngIf]="isLoggedIn" [ngIfElse]="guestTemplate">
      <ul nz-menu nzMode="horizontal" nzTheme="dark" class="app__header__menu">
        <li nz-menu-item class="no-bg">
          <i nz-icon nzType="shopping-cart" nzTheme="outline"></i>
        </li>
        <li nz-submenu nzTitle="{{user.name.firstname}} {{user.name.lastname}}" class="no-bg">
          <ul>
            <li nz-menu-item class="no-bg">Profile</li>
            <li nz-menu-item class="no-bg" (click)="logout()">Logout</li>
          </ul>
        </li>
      </ul>
    </ng-template>

  </nz-header>
  <nz-content class="app__content">
    <nz-layout class="app__content__search">
      <img src="assets/images/logo.png" alt="Logo" class="app__content__search--logo">
      <app-searchbar class="app__content__search__input"></app-searchbar>
    </nz-layout>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>

<ng-template #guestTemplate>
  <ul nz-menu nzMode="horizontal" nzTheme="dark" class="app__header__menu">
    <li nz-menu-item [nzSelected]="false" class="no-bg" (click)="login()">
      Login
    </li>
  </ul>
</ng-template>