.app {
  min-height: 100%;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &__menu {
      > li {
        text-transform: capitalize;
      }
      > li.no-bg {
        background-color: transparent;
      }
    }
  }

  &__content {
    width: 80%;
    margin: 0 auto;

    &__search {
      display: flex;
      flex-direction: row;
      align-items: center;

      &--logo {
        width: 10vh;
      }

      &__input {
        flex-grow: 0.8;
        margin-left: auto;
      }
    }
  }
}
