<main class="list-content">

  <nz-layout>

    <nz-sider class="sider">
      <app-category class="category" type="sidebar" (onSelectCategory)="onSelectCategory($event)"></app-category>
    </nz-sider>

    <nz-content>
      <section class="product">

        <app-product-skeleton [count]="skeletonCount" *ngIf="productLoader"></app-product-skeleton>

        <div class="product--inner" *ngIf="!productLoader">
          <app-product-item [item]="product" *ngFor="let product of products" class="product--inner--item"
            (click)="viewProduct(product)">
          </app-product-item>
        </div>

      </section>
    </nz-content>
  </nz-layout>


</main>